
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexViewDataQ</title>
</head>
<body>
    <table align="center" border="1" width="20%">
        <caption>Student Details</caption>
        <tr>
            <td>ID</td>
            <td>@ViewData["Id"]</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@ViewData["Name"]</td>
        </tr>
        <tr>
            <td>Fee</td>
            <td>@ViewData["Fee"]</td>
        </tr>
    </table>
</body>
</html>
