
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexViewBagQ</title>
</head>
<body>
   <table align="center" border="1" width="20%">
    <caption>Student Details</caption>
    <tr>
        <td>ID</td>
        <td>@ViewBag.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@ViewBag.Name</td>
    </tr>
    <tr>
        <td>Fee</td>
        <td>@ViewBag.Fee</td>
    </tr>
</table>
</body>
</html>
