<table align="center" border="1" width="20%">
    <caption>:Products Details:</caption>
    <tr>
        <td>Id:</td>
        <td>@ViewData["id"]</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@ViewData["name"]</td>
    </tr>
    <tr>
        <td>Prcie:</td>
       
        <td>
            @{
                double Price = Convert.ToDouble(ViewData["Price"]);
                Price = Price + (Price * 10 / 100);
                @Price
            }
        </td>
    </tr>
</table>
